<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록 조회 페이지</title>
    <link rel="stylesheet" href="/css/boardList.css">
</head>
<body>
<div class="header">
    <img src="logo.png" alt="Logo" class="logo">
    <div>FindIt</div>
    <div class="profile">my</div>
</div>

<div class="content">
    <!-- 성수 LAB 섹션 -->
    <div class="lab-section" onclick="location.href='/seongsu'">
        <img src="logo.png" alt="Logo" class="logo">
        <div class="lab-title">성수 LAB</div>
    </div>

    <!-- 부산 LAB 섹션 -->
    <div class="lab-section" onclick="location.href='/busan'">
        <img src="logo.png" alt="Logo" class="logo">
        <div class="lab-title">부산 LAB</div>
    </div>

    <!-- 관리자 섹션 -->
    <div class="admin-section">
        <button class="admin-button" onclick="location.href='/admin'">admin</button>
    </div>
</div>
</body>
</html>
