<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>게시판 생성 페이지</title>
  <link rel="stylesheet" href="/css/boardCreate.css">
  <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>
<header th:replace="~{/fragment/header :: headerFragment}"></header>
<div class="container">
  <!--헤더-->
  <div class="title">게시판 등록</div>

  <form th:action="@{/board/create}" th:object="${boardReqDto}" method="POST" enctype="multipart/form-data">
    <div class="input-box">
      <label for="title"></label>
      <input type="text" id="title" th:field="*{title}" placeholder="게시판 이름을 입력해 주세요" th:class="${#fields.hasErrors('title')} ? 'fieldError' : ''"><br>
      <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid date</p>
      <div class="file-box">
        <label for="file"></label>
        <input type="file" id="file" th:field="*{boardImage}"  th:class="${#fields.hasErrors('boardImage')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('boardImage')}" th:errors="*{boardImage}">Invalid date</p>

      </div>
    </div>

    <div class="buttons">
      <button class="register-btn" type="submit">등록</button>
      <button type="button" class="cancel-btn" onclick="location.href='/board'">취소</button>
    </div>
  </form>

</div>

</body>
</html>