<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="headerFragment">
    <header>
        <div class="header">
            <div class="left">
                <a href="/board">
                    <img src="http://localhost:8080/upload/post/42ab7eb6-e5e3-4328-a2ab-dc9c60bfb3b2.png" alt="logo">  로고
                </a>
            </div>
            <div class="center">FindIt</div>
            <div class="right-section">
                <!-- 로그아웃 버튼 추가 -->
                <form action="/user/logout" method="post" style="display: inline;">
                    <button type="submit" class="logout-btn">Logout</button>
                </form>
                <a href="/user/mypage" class="my-btn">MY</a>
            </div>
        </div>
    </header>
</div>
</body>