<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글 생성 페이지</title>
    <link rel="stylesheet" href="/css/postCreate.css">
</head>
<body>

<!-- 헤더 -->
<div class="header">
    <div class="left">
        <a href="/board">
            <img src="logo.png" alt="logo"> <!-- 좌측 엘리스 로고 넣는 곳 -->
        </a>
    </div>
    <div class="center">elice</div>
    <a href="/user/mypage" class="right">my</a>
</div>

<!-- 게시글 등록 폼 -->
<div class="form-container">
    <h1>게시글 등록</h1>
    <form action="/createPost" method="post" enctype="multipart/form-data">

        <label for="title"></label>
        <input type="text" id="title" name="title" placeholder="제목을 입력하세요.">

        <label for="content"></label>
        <textarea id="content" name="content" placeholder="내용을 입력하세요."></textarea>

        <label for="file"></label>
        <input type="file" id="file" name="file">

        <!-- 버튼 그룹 -->
        <div class="button-group">
            <button type="submit">등록</button>
            <button type="button" onclick="location.href='/post'">취소</button>
        </div>
    </form>
</div>

</body>
</html>
