<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 생성 페이지</title>
    <link rel="stylesheet" href="/css/postCreate.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<!-- 헤더 -->
<header th:replace="~{/fragment/header :: headerFragment}"></header>

<!-- 게시글 등록 폼 -->
<div class="form-container">
    <h1>게시글 등록</h1>
    <form th:action="@{/post/create(boardId=${boardId})}" th:object="${postReqDto}" method="post" enctype="multipart/form-data">

        <label for="title"></label>

        <input type="text"  id="title" th:field="*{title}" placeholder="제목을 입력하세요." th:class="${#fields.hasErrors('title')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Invalid date</p>

        <div>
            <input type="radio" id="miss" th:field="*{category}" value="잃어버렸습니다" checked />
            <label for="miss">잃어버렸습니다</label>
        </div>

        <div>
            <input type="radio" id="get" th:field="*{category}" value="주웠습니다" />
            <label for="get">주웠습니다</label>
        </div>
        <p th:if="${#fields.hasErrors('category')}" th:errors="*{category}">Invalid category</p>

        <label for="content"></label>
        <textarea id="content" th:field="*{body}" placeholder="내용을 입력하세요." th:class="${#fields.hasErrors('body')} ? 'fieldError' : ''" > </textarea>
        <p th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Invalid date</p>

        <label for="file"></label>
        <input type="file" id="file" th:field="*{postImage}"  th:class="${#fields.hasErrors('body')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('postImage')}" th:errors="*{postImage}">Invalid date</p>

        <!-- 버튼 그룹 -->
        <div class="button-group">
            <button type="submit">등록</button>
            <button type="button" onclick="location.href='/post'">취소</button>
        </div>
    </form>
</div>

</body>
</html>
