<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 조회 페이지</title>
    <link rel="stylesheet" href="/css/postDetail.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <!--<script src="/js/commentApi.js"></script>-->
</head>
<body>
<header th:replace="~{/fragment/header :: headerFragment}"></header>
<div class="content">
        <div class="message-box">
            <div th:text="${post.title}"></div>
        </div>
        <p th:text="${post.createdAt}"></p>

        <div class="message-box">
            <div th:text="${post.body}"></div>
        </div>


    <div class="input-section">
        댓글
        <form th:action="'/api/post/'+ ${post.postId} + '/comment'" method="post">
            <input type="hidden" name="parentCommentId">
            <div>
                <input type="text" name="body" placeholder="댓글을 작성해주세요.">
                <button class="submit-button">댓글 등록</button>
            </div>
        </form>
        <!--<table id="commentList" border="1"></table>-->
    </div>
    <div class="comment-list" th:each="comment : ${post.comments}">
        <div class="message-box">
            <div th:text="${comment.body}"></div>
            <div class=""></div>
        </div>
    </div>
    <div class="button-group">
        <a th:href="@{/post/update/{postId}(postId=${post.postId})}">
            <button>수정</button>
        </a>
        <button>삭제</button>
        <button>목록</button>
    </div>
</div>

<!--<form method="" action="/post/abc">
    <input type="text" name="userId">
    <input type="text" name="password">
    <input type="submit">
</form>-->

<!--<script>
    async function drawComment(){
        let data = await getApi("/api/comments/post/1", "GET" );
        let html = new Array();

        if(data) {
            for(let comment of data) {
                html.push(`<tr>`);
                html.push(  `<td>${comment.commentId}</td>`);
                html.push(  `<td>${comment.body}</td>`);
                html.push(  `<td>${comment.createdAt}</td>`);
                html.push(`</tr>`);
            }
        } else {
            html.push(`<tr>`);
            html.push(  `<td colspan="3">게시글이 없습니다.</td>`);
            html.push(`</tr>`);
        }

        document.getElementById("commentList").innerHTML = html.join("");

    }
</script>-->
</body>
</html>