<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 페이지</title>
    <link rel="stylesheet" href="/css/postList.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<!-- 헤더 -->
<header th:replace="~{/fragment/header :: headerFragment}"></header>

<!-- 탭 메뉴 -->
<div class="tabs">
    <div class="tab">찾고있어요</div>
    <div class="tab">습득했어요</div>
</div>

<!-- 검색바 -->
<div class="search-bar">
    <input type="text" placeholder="검색어 입력">
    <button>검색</button>
</div>

<!-- 게시물 리스트 -->
<form action="/post">
    <div class="post-list" th:each="post : ${posts}">
        <div class="post">
            <a th:href="'/post/'+${post.postId}">
                <img src="item1.jpg" alt="item1">
            </a>
            <a th:href="'/post/'+${post.postId}">
                <div class="post-title" th:text="${post.title}" ></div>
            </a>
            <div class="post-createdAt" th:text="${post.createdAt}"></div>
        </div>
    </div>
</form>


<!-- 페이지 네비게이션 -->
<div class="pagination">
    <span>&lt;</span>
    <span>1</span>
    <span>2</span>
    <span>3</span>
    <span>4</span>
    <span>5</span>
    <span>&gt;</span>
</div>

<!-- 등록/삭제 버튼 -->
<div class="actions">
    <button>등록</button>
    <button>삭제</button>
</div>

</body>
</html>