<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세 조회 페이지</title>
    <link rel="stylesheet" href="/css/postDetail.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <!--<script src="/js/commentApi.js"></script>-->
    <script src="/js/confirmDelete.js"></script>
</head>
<body>
<header th:replace="~{/fragment/header :: headerFragment}"></header>
<div class="content">
    <div class="message-box">
        <div class="title" th:text="${post.title}"></div>
    </div>
    <p th:text="${post.createdAt}" class="post-date"></p>

    <div class="message-box">
        <div class="message-box-body" th:text="${post.body}"></div>
    </div>


    <div class="comment-section">
        <div class="comment-title">댓글 목록</div>
        <form th:action="'/post/'+ ${post.postId} + '/comment'" method="post">
            <div>
                <input type="text" name="body" placeholder="댓글을 작성해주세요.">
                <button class="submit-button">댓글 등록</button>
            </div>
        </form>

    <!--댓글 리스트 출력-->
    <div class="comment-list" th:each="comment : ${post.comments}">
        <div th:if="${comment.parentComment == null}" th:id="'comment-' + ${comment.commentId}">
            <div class="message-box">
                <div class="comment"  th:text="${comment.body}"></div>
                <p></p>
                <!-- 댓글 수정폼 -->
                <form th:action="'/post/'+${post.postId}+'/comment/'+${comment.commentId}" method="post" style="display: flex; align-items: center;">
                    <input type="hidden" name="_method" value="patch" />
                    <label for="updateBody" style="display: none;"></label>
                    <input type="text" id="updateBody" name="body" th:value="${comment.body}" style="flex: 1; margin-right: 0.5rem;">
                    <div class="button-group">
                        <button type="submit">수정</button>
                        <button class="delete-button" th:onclick="|confirmDelete(event, ${post.postId}, ${comment.commentId})|">삭제</button>
                    </div>
                </form>


                <!--답글 입력폼-->
                <form th:action="'/post/'+ ${post.postId} + '/comment'" method="post">
                    <input type="hidden" name="parentCommentId" th:value="${comment.commentId}">
                    <div>
                        <input type="text" name="body" placeholder="답글을 작성해주세요.">
                        <button class="submit-button">답글 등록</button>
                    </div>
                </form>

                <!--대댓글 출력-->
                <div class="child-comment-list">
                    <div class="comment-list" th:each="childComment : ${comment.childrenComments}">
                        <div  class="child-message-box">
                            <div class = " child-comment" th:text="${childComment.body}"></div>
                            <p></p>
                            <!--대댓글 수정 폼-->
                            <form th:action="'/post/'+${post.postId}+'/comment/'+${childComment.commentId}" method="post">
                                <input type="hidden" name="_method" value="patch" />

                                <label for="updateChildBody"></label>
                                <input type="text" id="updateChildBody" name="body" th:value="${childComment.body}">
                                <div class="button-group">
                                    <button type="submit">수정</button>
                                    <button class="delete-button" th:onclick="|confirmDelete(event, ${post.postId}, ${childComment.commentId})|">삭제</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="button-group">
        <!-- 작성자와 로그인한 사용자가 같을 때만 수정, 삭제 버튼 표시 -->
        <th:block th:if="${loginId == post.createdBy}">
            <a th:href="@{/post/update/{postId}(postId=${post.postId})}">
                <button>수정</button>
            </a>
            <form th:action="@{/post/{postId}(postId=${post.postId})}" method="post" style="display: inline;">
                <input type="hidden" name="_method" value="DELETE"/>
                <input type="hidden" name="boardId" th:value="${post.boardId}"/>
                <button type="submit" onclick="return confirm('정말 삭제하시겠습니까?');">삭제</button>
            </form>
        </th:block>
        <button th:onclick="|location.href='@{/post(boardId=${boardId}, page=${pageNo + 1})}'|">목록</button>
    </div>
</div>
<script>
    function confirmDelete(event, postId, commentId) {
        event.preventDefault();

        if (confirm("정말 삭제하시겠습니까?")) {
            fetch(`/post/${postId}/comment/${commentId}`, {
                method: 'DELETE'
            })
                .then(response => {
                    if (response.ok) {
                        alert("삭제되었습니다.");
                        location.reload(); // 삭제 후 페이지를 새로고침하여 반영
                    } else {
                        alert("삭제에 실패했습니다.");
                    }
                })
                .catch(error => {
                    console.error("삭제 중 오류가 발생했습니다:", error);
                    alert("삭제에 실패했습니다.");
                });
        }
    }
</script>

</body>
</html>