<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>FindIt</title>
    <link rel="stylesheet" type="text/css" href="/css/userLogin.css">
    <script src="/js/alert.js"></script> <!-- 회원가입이 정상적으로 완료됐을때 알람이 뜨게하는 기능 추가 -->
</head>
<body>
<div id="logo">FindIt</div>
<div class="container">
    <form action="/user/login" method="post" name="loginForm">
        <label for="loginId">ID</label>
        <input type="text" id="loginId" name="loginId"/>

        <label for="password">Password</label>
        <input type="password" id="password" name="password"/>

        <input id="login-btn" type="submit" value="login">
    </form>
    <div class="link-container">
        <a href="/user/signup">Sign Up</a>
    </div>
</div>
</body>
</html>