<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <!--<script src="/js/userApi.js"></script>-->
</head>
<body>

<!-- 헤더 -->
<header th:replace="~{/fragment/header :: headerFragment}"></header>

<!-- 폼 컨테이너 -->
<div class="form-container">
    <form th:action="@{/user}" th:object="${user}" method="post">
        <input type="hidden" name="_method" value="patch" />

        <label for="userName">이름</label>
        <input type="text" id="userName" name="userName" th:value="${user.userName}">

        <label for="loginId">아이디</label>
        <input type="text" id="id" name="loginId" th:value="${user.loginId}" readonly> <!-- readonly : 읽기 전용, 수정 불가 -->

        <label for="email">이메일</label>
        <input type="text" id="email" name="email" th:value="${user.email}">

        <label for="password">비밀번호</label>
        <input type="password" id="password" name="password" placeholder="변경하려면 입력하세요">

        <label for="rePassword">비밀번호 확인</label>
        <input type="password" id="rePassword" name="rePassword" placeholder="비밀번호 재입력">

        <!-- 메시지 표시 영역 -->
        <div th:if="${message}" class="alert alert-success" th:text="${message}"></div>
        <div th:if="${errorMessage}" class="alert alert-error" th:text="${errorMessage}"></div>

        <!-- 버튼 그룹 -->
        <div class="button-group">
            <button type="submit">수정</button>
            <button type="button" onclick="location.href='/cancel'">취소</button>
        </div>
        <button id="deleteBtn" onclick="openDeleteModal()">회원 탈퇴</button>
    </form>
</div>

<div id="deleteModal" class="modal" style="display:none;">
    <div class="modal-content">
        <span class="close" onclick="closeDeleteModal()">&times;</span>
        <h2>정말 탈퇴하시겠습니까?</h2>
        <p>탈퇴 시 회원 정보는 되돌릴 수 없습니다.</p>
        <form action="/user" method="post">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" id="loginId" name="loginId" th:value="${user.loginId}">

            <label for="delPassword">비밀번호</label>
            <input type="password" id="delPassword" name="delPassword" required>

            <div class="button-group">
                <button type="submit">확인</button>
                <button type="button" onclick="closeDeleteModal()">취소</button>
            </div>

            <div th:if="${errorMessage}" th:text="${errorMessage}" class="error-message"></div>
        </form>
    </div>
</div>

</body>
</html>
