<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <link rel="stylesheet" type="text/css" href="/css/mypage.css">
    <link rel="stylesheet" type="text/css" href="/css/header.css">
</head>
<body>

<!-- 헤더 -->
<header th:replace="~{/fragment/header :: headerFragment}"></header>

<!-- 폼 컨테이너 -->
<div class="form-container">
    <form action="/updateProfile" method="post">
        <label for="name">name</label>
        <input type="text" id="name" name="name" value="get">

        <label for="id">id</label>
        <input type="text" id="id" name="id" value="get" readonly> <!-- readonly :  읽기 전용, 수정 불가 -->

        <label for="email">email</label>
        <input type="text" id="email" name="email" value="get">

        <label for="password">password</label>
        <input type="password" id="password" name="password" value="get">

        <label for="re_password">Re_password</label>
        <input type="password" id="re_password" name="re_password" value="get">

        <!-- 버튼 그룹 -->
        <div class="button-group">
            <button type="submit">수정</button>
            <button type="button" onclick="location.href='/cancel'">취소</button>
        </div>
    </form>
</div>

</body>
</html>
