<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link rel="stylesheet" href="/css/userSignup.css">
    <link rel="stylesheet" href="/css/fieldError.css">
    <script src="/js/validatePassword.js"></script> <!-- 비밀번호 확인 JS파일 추가 -->
</head>
<body>
<div class="container">
    <form th:action="@{/user/signup}" th:object="${userSignupDto}" method="post" onsubmit="return validatePassword()">
        <!-- id 중복일 경우 오류 메시지 표시 -->
        <div th:if="${errorMessage}" style="color: red;">
            <p th:text="${errorMessage}"></p>
        </div>

        <label for="loginId">ID</label>                                                                         <!--메세지는 출력이 되지만 css가 적용이 안됨-->
        <input type="text"  id="loginId" th:field="*{loginId}" placeholder="ID를 입력해주세요" th:class="${#fields.hasErrors('loginId')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">Invalid date</p>

        <label for="userName">이름</label>
        <input type="text"  id="userName" th:field="*{userName}" placeholder="이름을 입력해주세요." th:class="${#fields.hasErrors('userName')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}">Invalid date</p>

        <label for="email">이메일</label>
        <input type="text"  id="email" th:field="*{email}" placeholder="이메일를 입력해주세요." th:class="${#fields.hasErrors('email')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Invalid date</p>

        <label for="password">비밀번호</label>
        <input type="text"  id="password" th:field="*{password}" placeholder="비밀번호를 입력해주세요." th:class="${#fields.hasErrors('password')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Invalid date</p>

        <label for="rePassword">비밀번호 확인</label>
        <input type="text"  id="rePassword" th:field="*{rePassword}" placeholder="이메일를 입력해주세요." th:class="${#fields.hasErrors('rePassword')} ? 'fieldError' : ''">
        <p th:if="${#fields.hasErrors('rePassword')}" th:errors="*{rePassword}">Invalid date</p>

        <div class="button-group">
            <button type="submit">회원가입</button>
            <button type="button" onclick="location.href='/user/login'">취소</button>
        </div>
    </form>
</div>

</body>
</html>