/* 전체 배경 및 폰트 스타일 */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #ffffff;
}


/* 폼 스타일 */
.form-container {
    text-align: center;
    margin-top: 60px;
    width: 800px;
}

.form-container h1 {
    color: #333333;
    font-size: 40px;
    margin-bottom: 60px;
}

.radio-group {
    display: flex;
    align-items: center;
}

.radio-item {
    margin-right: 10px;
}

.radio-group input {
    margin-right: 5px;
}

.radio-group .radio-label {
    display: inline-block;
    margin-right: 15px;
    cursor: pointer;
}

.form-container label {
    display: block;
    margin: 10px 0 5px;
    color: #333333;
    font-size: 14px;
}

.form-container input[type="text"],
.form-container textarea,
.form-container input[type="file"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

.form-container textarea {
    height: 250px;
    resize: none;
}

/* 버튼 스타일 */
.button-group {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.button-group button {
    background-color: #d8e9d7;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}