/* 전체 레이아웃 설정 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.content {
    padding: 1rem;
    background-color: #f5f5f5;
    min-height: calc(100vh - 60px);
    margin-top: 60px; /* 헤더 높이만큼 여백 추가 */
}
/* 카테고리 선택 및 제목 검색 */
.options {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 20px;
    align-items: center;
}
.category-select, .title-search {
    display: flex;
    align-items: center;
}
.category-select select {
    padding: 5px;
    font-size: 16px;
}
.title-search input[type="text"] {
    padding: 5px;
    font-size: 16px;
}
.title-search button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    background-color: #d1e7c5;
    border: none;
    cursor: pointer;
}
/* 검색바 스타일 */
.search-bar {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
}
.search-bar input[type="text"] {
    padding: 5px;
    font-size: 16px;
}
.search-bar button {
    padding: 5px 10px;
    margin-left: 5px;
    font-size: 16px;
    background-color: #d1e7c5;
    border: none;
    cursor: pointer;
}

/* 게시물 리스트 스타일 */
.post-list {
    display: inline-block;
    padding: 20px;
    margin-top: 70px;
    width: 19%;
    background-color: #f0f0f0;
    text-align: center;
    box-sizing: border-box; /* 패딩 포함한 너비 조정 */
    margin-right: 5px; /* 간격 */
}

.post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.post img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
.post-title {
    font-weight: bold;
}
.post-date {
    color: #666;
}

/* 페이지 네비게이션 */
.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    font-size: 18px;
    margin-top: 80px;
}

/* 등록/삭제 버튼 스타일 */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding: 10px 20px;
}
.actions button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #d1e7c5;
    border: none;
    cursor: pointer;
}

.current-page {
    font-weight: bold;
    color: blue;
}

h2 {
    text-align: center;
}