body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #7030A0;
    margin: 0;
}
#logo {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 40px;
    font-weight: bold;
    color: white;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 10px; /* 요소 사이 간격 설정 */
    width: 20vw; /* 전체 너비를 20%로 조정 */
}
label {
    color: white;
    font-size: 30px;
    text-align: left; /* label들을 왼쪽 정렬 */
}
input {
    padding: 4px;
    font-size: 30px; /* 텍스트 크기 조정 */
    height: 5vh; /* 높이를 화면 높이의 5%로 설정 */
    box-sizing: border-box; /* 패딩을 포함하여 높이를 조정 */
}
#login-btn {
    background-color: #d1e7c5;
    border: none;
    border-radius: 10%;
    margin-top: 10px;
    padding: 5px;
    font-size: 30px;

}
.link-container {
    display: flex;
    justify-content: center; /* a 태그를 중앙에 정렬 */
}
a {
    color: white;
    font-size: 25px;
    margin-top: 20px; /* 위쪽 여백을 추가하여 다른 요소들과 간격을 벌림 */
    text-decoration: none;
}
